body {
    background-color: #fbffc8;
    margin: 0;   
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.workspace {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 61.5px;
}

.page {
    background-color: #fffef8;
    width: 8.5in;
    height: 11in;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    border: 1px solid #e2e2e2;
}

.content {
    margin: 1in;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: normal;
}

#text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
}




